<% if @brand %>
  <h2>New Instrument for <%= @brand.name %></h2>
<% else %>
  <h2>New Instrument</h2>
<% end %>
<p><%= @error %></p>
<%= render partial: '/errors', locals: { record: @instrument } %>

<%= form_for @instrument do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :instrument_type %><br>
  <%= f.text_field :instrument_type %><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <%= f.label :price %><br>
  <%= f.text_field :price %><br>
  <% if params[:brand_id] != nil %>
    <%= f.hidden_field :brand_id, value: @brand.id %>
    <%= f.hidden_field :category_id, value: @category.id %>
  <% elsif params[:brand_id] == nil && @instrument != nil %>
    <%= f.label :brand, "Select Brand" %><br>
    <%= f.collection_select :brand_id, @brands.order(:name), :id, :name, include_blank: true %><br>
  <% end %>
  
  <%= f.submit "Submit Instrument" %>
<% end %>