<h2>New User</h2>

<%= @error %>
<%= render partial: '/errors', locals: { record: @new_user } %>
<%= form_for @new_user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email%><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :confirm_password %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Create Profile" %>
<% end %>

<p>Already have an account? Log in <%= link_to "here", login_path %>.</p>